qrscan.json
[{"id":"d7d51737.596d78","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8819af12.e285d","type":"ui_form","z":"d7d51737.596d78","name":"","label":"","group":"fdc7df0a.44825","order":1,"width":0,"height":0,"options":[{"label":"Regstration Owner","value":"name","type":"text","required":true,"rows":null},{"label":"Registration No","value":"regis","type":"text","required":true,"rows":null},{"label":"Maker's class","value":"type","type":"text","required":true,"rows":null},{"label":"Chasis No","value":"chasis","type":"text","required":true,"rows":null},{"label":"Engine No","value":"engine","type":"text","required":true,"rows":null},{"label":"Date of Regis","value":"regisdate","type":"text","required":true,"rows":null},{"label":"Registration Valid","value":"regisvalid","type":"text","required":true,"rows":null},{"label":"PUC Expiry Date","value":"pucdate","type":"text","required":true,"rows":null}],"formValue":{"name":"","regis":"","type":"","chasis":"","engine":"","regisdate":"","regisvalid":"","pucdate":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":740,"wires":[["f6147160.7814d"]]},{"id":"ed3b9230.97409","type":"ui_form","z":"d7d51737.596d78","name":"","label":"","group":"166e4832.b13768","order":2,"width":10,"height":3,"options":[{"label":"Mail Id","value":"mail","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"mail":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":100,"wires":[["39e63e29.1caae2","de5ff2ae.12c2"]]},{"id":"1ca73ca5.7a1103","type":"ui_ui_control","z":"d7d51737.596d78","name":"","events":"change","x":460,"y":540,"wires":[[]]},{"id":"a8ce2265.514ed","type":"ui_button","z":"d7d51737.596d78","name":"","group":"dfb9d4ff.0d3778","order":1,"width":8,"height":1,"passthru":false,"label":"Login Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":230,"y":540,"wires":[["1ca73ca5.7a1103"]]},{"id":"b3092cd3.a7667","type":"ui_ui_control","z":"d7d51737.596d78","name":"","events":"change","x":600,"y":240,"wires":[[]]},{"id":"3098ba65.4d4706","type":"comment","z":"d7d51737.596d78","name":"Login Page","info":"Login Page","x":90,"y":20,"wires":[]},{"id":"39e63e29.1caae2","type":"function","z":"d7d51737.596d78","name":"","func":"global.set('mail',msg.payload.mail)\nglobal.set('pass',msg.payload.password)\nmsg.payload={\n    \"_id\":msg.payload.mail\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":80,"wires":[["42658862.c46e48"]]},{"id":"aa0058c8.4866c8","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload={\n    \"mail\":\"\",\n    \"password\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":200,"wires":[["ed3b9230.97409"]]},{"id":"9284b4d9.5652b8","type":"ui_text","z":"d7d51737.596d78","group":"166e4832.b13768","order":9,"width":10,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":730,"y":160,"wires":[]},{"id":"de5ff2ae.12c2","type":"delay","z":"d7d51737.596d78","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":200,"wires":[["aa0058c8.4866c8"]]},{"id":"42658862.c46e48","type":"cloudant in","z":"d7d51737.596d78","name":"","cloudant":"","database":"logindata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"","x":300,"y":140,"wires":[["7d3794da.0e397c"]]},{"id":"d3dac4fe.214078","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"Entered details doesn't match with the records\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":20,"wires":[["9284b4d9.5652b8","f01f9b56.b81a58"]]},{"id":"7d3794da.0e397c","type":"switch","z":"d7d51737.596d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":20,"wires":[["d3dac4fe.214078"],["466e257e.d89aec"]]},{"id":"466e257e.d89aec","type":"function","z":"d7d51737.596d78","name":"","func":"pass=global.get('pass')\nif(msg.payload.pass==pass){\n    msg.payload=1\n}\nelse{\n    msg.payload='no'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[["f01f9b56.b81a58","5c1bec4b.cbbec4"]]},{"id":"f01f9b56.b81a58","type":"delay","z":"d7d51737.596d78","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":40,"wires":[["2cf51a6f.a10c76"]]},{"id":"2cf51a6f.a10c76","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":120,"wires":[["9284b4d9.5652b8"]]},{"id":"5c1bec4b.cbbec4","type":"switch","z":"d7d51737.596d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":200,"wires":[["ce49f3cc.4ce4f","b3092cd3.a7667"],["3e83b987.e4d166"]]},{"id":"ce49f3cc.4ce4f","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"Login Successful\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["9284b4d9.5652b8"]]},{"id":"3e83b987.e4d166","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"Password doesnt match with the Mail ID\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":200,"wires":[["9284b4d9.5652b8"]]},{"id":"dff60644.a5a758","type":"comment","z":"d7d51737.596d78","name":"QR Scan Page","info":"","x":100,"y":280,"wires":[]},{"id":"72e326f9.b5dfd8","type":"ui_ui_control","z":"d7d51737.596d78","name":"","events":"change","x":460,"y":580,"wires":[[]]},{"id":"fdb25b60.f62ec8","type":"ui_button","z":"d7d51737.596d78","name":"","group":"dfb9d4ff.0d3778","order":2,"width":8,"height":1,"passthru":false,"label":"Vehicle details Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":260,"y":580,"wires":[["72e326f9.b5dfd8"]]},{"id":"f5a8c8b1.d607c8","type":"ui_ui_control","z":"d7d51737.596d78","name":"","events":"change","x":440,"y":940,"wires":[[]]},{"id":"b377d2a5.60bec","type":"ui_button","z":"d7d51737.596d78","name":"","group":"fdc7df0a.44825","order":3,"width":8,"height":1,"passthru":false,"label":"Login Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":210,"y":940,"wires":[["f5a8c8b1.d607c8"]]},{"id":"b655d5e1.5f8388","type":"ui_ui_control","z":"d7d51737.596d78","name":"","events":"change","x":440,"y":980,"wires":[[]]},{"id":"48c4769c.842248","type":"ui_button","z":"d7d51737.596d78","name":"","group":"fdc7df0a.44825","order":4,"width":8,"height":1,"passthru":false,"label":"QR Scan Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":220,"y":980,"wires":[["b655d5e1.5f8388"]]},{"id":"5cbc4af3.949b14","type":"comment","z":"d7d51737.596d78","name":"Vehicle Details Page","info":"","x":110,"y":660,"wires":[]},{"id":"f6147160.7814d","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload={\n    \"_id\":msg.payload.regis,\n    \"name\":msg.payload.name,\n    \"type\":msg.payload.type,\n    \"chasis\":msg.payload.chasis,\n    \"engine\":msg.payload.engine,\n    \"regisdate\":msg.payload.regisdate,\n    \"regisvalid\":msg.payload.regisvalid,\n    \"pucdate\":msg.payload.pucdate\n}\nglobal.set('payload',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":740,"wires":[["5b39e17a.dc921","a70f910e.2bb47"]]},{"id":"3fb2d50a.42ddda","type":"cloudant out","z":"d7d51737.596d78","name":"","cloudant":"","database":"vehicledata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"insert","x":710,"y":680,"wires":[]},{"id":"e80c53b2.0f90e","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload={\n    \"regis\":\"\",\n    \"name\":\"\",\n    \"type\":\"\",\n    \"chasis\":\"\",\n    \"engine\":\"\",\n    \"regisdate\":\"\",\n    \"regisvalid\":\"\",\n    \"pucdate\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":800,"wires":[["8819af12.e285d"]]},{"id":"5b39e17a.dc921","type":"delay","z":"d7d51737.596d78","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":800,"wires":[["e80c53b2.0f90e"]]},{"id":"a70f910e.2bb47","type":"cloudant in","z":"d7d51737.596d78","name":"","cloudant":"","database":"vehicledata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"","x":350,"y":680,"wires":[["31b3867b.f7a13a"]]},{"id":"31b3867b.f7a13a","type":"switch","z":"d7d51737.596d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":740,"wires":[["c7a3ae45.63e5b"],["53f42c4e.81cb64"]]},{"id":"53f42c4e.81cb64","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"Vehicle with same regstration number exists\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":800,"wires":[["62a2541a.5dbd4c","f63f567.bb120a8"]]},{"id":"c7a3ae45.63e5b","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=global.get('payload')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":680,"wires":[["3fb2d50a.42ddda","b4e81f7a.c52e2"]]},{"id":"62a2541a.5dbd4c","type":"ui_text","z":"d7d51737.596d78","group":"fdc7df0a.44825","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":750,"y":800,"wires":[]},{"id":"b4e81f7a.c52e2","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"Vehicle details have uploaded Successfully\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":740,"wires":[["62a2541a.5dbd4c","f63f567.bb120a8"]]},{"id":"f63f567.bb120a8","type":"delay","z":"d7d51737.596d78","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":860,"wires":[["bd3d4bf6.9470c8"]]},{"id":"bd3d4bf6.9470c8","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":860,"wires":[["62a2541a.5dbd4c"]]},{"id":"12b5b867.d6e4f8","type":"ibmiot in","z":"d7d51737.596d78","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":360,"wires":[["59f4982a.4ddd98"]]},{"id":"59f4982a.4ddd98","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload={\n    \"_id\":msg.payload.data\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":360,"wires":[["c67b8b9c.a21048"]]},{"id":"f90ffa8f.21f5a8","type":"debug","z":"d7d51737.596d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"c67b8b9c.a21048","type":"cloudant in","z":"d7d51737.596d78","name":"","cloudant":"","database":"vehicledata","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"","x":310,"y":300,"wires":[["401d2b26.97a1c4","d6fdbe79.07f7f","d447a429.8f3268"]]},{"id":"401d2b26.97a1c4","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload={\n    \"name\":msg.payload.name,\n    \"regis\":msg.payload._id,\n    \"type\":msg.payload.type,\n    \"chasis\":msg.payload.chasis,\n    \"engine\":msg.payload.engine,\n    \"regisdate\":msg.payload.regisdate,\n    \"regisvalid\":msg.payload.regisvalid,\n    \"pucdate\":msg.payload.pucdate\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["f90ffa8f.21f5a8","5dab755f.7684cc","d9496114.7f84f"]]},{"id":"5dab755f.7684cc","type":"ui_template","z":"d7d51737.596d78","group":"dfb9d4ff.0d3778","name":"","order":3,"width":0,"height":0,"format":"<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n<h1>Vehicle Registration Details</h1>\n<div>\n    \n    <table>\n      <tr>\n        <td>Name</td>\n        <td>{{msg.payload.name}}</td>\n      </tr>\n      <tr>\n        <td>Registration Number</td>\n        <td>{{msg.payload.regis}}</td>\n      </tr>\n      <tr>\n        <td>Maker's Class</td>\n        <td>{{msg.payload.type}}</td>\n      </tr>\n      <tr>\n        <td>Chasis Number</td>\n        <td>{{msg.payload.chasis}}</td>\n      </tr>\n      <tr>\n        <td>Engine Number</td>\n        <td>{{msg.payload.engine}}</td>\n      </tr>\n      <tr>\n        <td>Registration Date</td>\n        <td>{{msg.payload.regisdate}}</td>\n      </tr>\n      <tr>\n        <td>Registration Valid Upto</td>\n        <td>{{msg.payload.regisvalid}}</td>\n      </tr>\n      <tr>\n        <td>PUC Expiry Date</td>\n        <td>{{msg.payload.pucdate}}</td>\n      </tr>\n</table>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":660,"y":360,"wires":[[]]},{"id":"d6fdbe79.07f7f","type":"function","z":"d7d51737.596d78","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5; \nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar y = n.slice(0,7)\nvar m = n.slice(5,7)\nvar py=msg.payload.pucdate.slice(6,10)\nvar pm=msg.payload.pucdate.slice(3,5)\nif(py<y){\n    if(pm<m){\n        msg.payload=\"Pollution is Expired\"\n    }\n}\nelse{\n    msg.payload=\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":440,"wires":[["ef2164b5.11eb78","70a33728.d11308"]]},{"id":"ef2164b5.11eb78","type":"ui_text","z":"d7d51737.596d78","group":"dfb9d4ff.0d3778","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":550,"y":500,"wires":[]},{"id":"d9496114.7f84f","type":"delay","z":"d7d51737.596d78","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":400,"wires":[["94340fd2.cc7a4"]]},{"id":"94340fd2.cc7a4","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload={\n    \"regis\":\"\",\n    \"name\":\"\",\n    \"type\":\"\",\n    \"chasis\":\"\",\n    \"engine\":\"\",\n    \"regisdate\":\"\",\n    \"regisvalid\":\"\",\n    \"pucdate\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":420,"wires":[["5dab755f.7684cc"]]},{"id":"70a33728.d11308","type":"delay","z":"d7d51737.596d78","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":500,"wires":[["5de8884b.bb5d28"]]},{"id":"5de8884b.bb5d28","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["ef2164b5.11eb78"]]},{"id":"d447a429.8f3268","type":"switch","z":"d7d51737.596d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":440,"wires":[["a4442a77.9b8ea8","70a33728.d11308"]]},{"id":"a4442a77.9b8ea8","type":"function","z":"d7d51737.596d78","name":"","func":"msg.payload=\"Not a Valid QR Code\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["ef2164b5.11eb78"]]},{"id":"fdc7df0a.44825","type":"ui_group","name":"Vehicle Details","tab":"aa3afa64.e4eb18","order":1,"disp":true,"width":"16","collapse":false},{"id":"166e4832.b13768","type":"ui_group","name":"Login","tab":"db9060ff.b9af9","order":1,"disp":true,"width":14,"collapse":false},{"id":"dfb9d4ff.0d3778","type":"ui_group","name":"Dashboard","tab":"baeddb1e.016f28","order":1,"disp":true,"width":16,"collapse":false},{"id":"3cf31d49.482212","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"aa3afa64.e4eb18","type":"ui_tab","name":"Vehicle Details Page","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"db9060ff.b9af9","type":"ui_tab","name":"Transport Login","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"baeddb1e.016f28","type":"ui_tab","name":"QR Scan Page","icon":"dashboard","order":2,"disabled":false,"hidden":true}]